.side
  .sideUser
    %h2.sideUser__name seri
    %ul.sideUser__nav
      %li
        = link_to 'https://www.google.co.jp/' do
          %i.fa.fa-pencil-square-o
      %li
        = link_to 'https://www.google.co.jp/' do
          %i.fa.fa-cog
  .sideGroup
    .sideGroup__box
      = link_to 'https://www.google.co.jp/' do
        .sideGroup__boxName Temp
        .sideGroup__boxMessage update message
