.wrap {
  display: flex;
}
.side {
  width: 300px;
  color: $side_font_color;
  &User {
    width: 300px;
    height: 100px;
    background: $side__user_color;
    line-height: 100px;
    &__name {
      display: inline-block;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    &__nav {
      display: inline-block;
      padding-right: 20px;
      float: right;
      li {
        float: left;
        padding-left: 5px;
        a {
          color: $side_font_color;
        }
      }
    }
  }
  &Group {
    height: calc(100vh - 100px);
    background: $side__group_color;
    padding: 0 20px;
    &__box {
      box-sizing: border-box;
      padding-top: 20px;
      padding-bottom: 40px;
      a {
        color: $side_font_color;
      }
      &Name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &Message {
        font-size: 11px;
      }
    }
  }
}
.main {
  height: 100%;
  width: calc(100vw - 300px);
  &Header {
    height: 100px;
    background: $mainHeader_wrap_color;
    padding: 0 40px;
    border-bottom: solid 1px $header__border_color;
    box-sizing: border-box;
    &__title {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
    }
    &__member {
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
      ul {
        display: flex;
        li {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    &__edit {
      height: 40px;
      line-height: 40px;
      border: solid 1px $emphasis_color;
      display: inline-block;
      position: absolute;
      top: 28px;
      right: 40px;
      a {
        display: inline-block;
        color: $emphasis_color;
        padding: 0 20px;
      }
    }
  }
  &Chat {
    height: calc(100vh - 100px - 90px - 45px);
    background: $mainChat_wrap_color;
    padding: 0 40px;
    padding-top: 46px;
    &__box {
      margin-bottom: 40px;
      &Upper {
      padding-bottom: 10px;
      vertical-align: middle;
      }
      &Name {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        display: inline-block;
        padding-right: 10px;
      }
      &Time {
        font-size: 12px;
        color: #999999;
        display: inline-block;
      }
      &Message {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &Form {
    height: 90px;
    width: calc(100vw - 300px);
    background: $mainForm_wrap_color;
    position: absolute;
    bottom: 0;
    right: 0;
    &__wrap {
      padding: 20px 50px 20px 40px;
    }
    &__input {
      height: 50px;
      width: calc(100% - 145px);
      padding: 0 10px;
      box-sizing: border-box;
      border: none;
      float: left;
    }
    &__image {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding-right: 10px;
      background: #FFF;
      float: left;
      &Upload {
        font-size: 20px;
      }
      .hidden {
        display: none;
      }
    }
    &__btn {
      height: 50px;
      padding: 0 30px;
      background: $emphasis_color;
      font-size: 16px;
      color: #FFF;
      border: none;
      border-radius: none;
      margin-left: 15px;
    }
  }
}
