$side__user_color: #253141;
$side__group_color: #2F3E51;
$side_font_color: #FFFFFF;
$mainHeader_wrap_color: #FFFFFF;
$mainChat_wrap_color: #FAFAFA;
$mainForm_wrap_color: #DDDDDD;
$header__border_color: #EEEEEE;
$emphasis_color: #38AEF0;
$flash_alart: #F35500;
$flash_notice:#38AEF0;
